# Data Exploration Notebook
## UN Datathon 2024

This notebook is designed to guide and facilitate the exploration of the datasets that are available for this event, promoting analyses and insights that contribute to innovative solutions for the United Nations Sustainable Development Goals (SDGs). Throughout this exploratory analysis, our goal will be to uncover patterns, trends, and key characteristics that deepen our understanding of the data.

## Notebook Objectives
- **Explore** the features and variables within the available datasets.
- **Visualize** relevant data to discover patterns, trends, and correlations.
- **Identify** potential areas for in-depth analysis and predictive modeling.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("data/MEData/ingreso_mensual_de_visitantes_a_sitios_de_interes.csv")

In [3]:
df

                 sit_nombre  sit_periodo  sit_totalvisitas
0              PARQUE_NORTE       202209             17246
1               PARQUE_ARVI       202209             68339
2     AEROPARQUE_JUAN_PABLO       202209              7647
3       PLANETARIO_MEDELLIN       202209              9525
4        ZOOLOGICO_SANTA_FE       202209             16277
...                     ...          ...               ...
1452  AEROPARQUE_JUAN_PABLO       200701                 0
1453         PARQUE_EXPLORA       200701                 0
1454           PARQUE_NORTE       200701                 0
1455    PLANETARIO_MEDELLIN       200701                 0
1456            PARQUE_ARVI       200701                 0

[1457 rows x 3 columns]

In [16]:
df.dtypes

sit_nombre          object
sit_periodo          int64
sit_totalvisitas     int64
dtype: object